body {
    background-color: black;
    margin: 0 auto;
    padding: 0 auto;
}

header {
    background-color: orange;
}

h1.name,
h2.work {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    text-align: center;
}

main {
    background-color: black;
}

.container {
    display: flex;
}

.gabe-photo {
    width: 500px;
    margin-top: 20px;
    margin-left: 25px;
}

.biography {
    color: orange;
    margin-right: 275px;
    margin-left: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projects {
    color: orange;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.games-head {
    margin-right: 200px;
    white-space: nowrap;
}

.other-projects,
.facts {
    margin-right: 50px;
}

.steam-deck,
.valve-history {
    margin-right: 100px;
    margin-top: 25px;
}

.quote {
    color: white;
}

.author {
    margin-top: -15px;
    margin-left: 400px;
}
footer {
    text-align: center;
    background-color: darkgrey;
    margin-bottom: 0 auto;
    padding-bottom: 0 auto;
}